* {box-sizing:border-box;}

/* Body */

body {
  background-repeat:no-repeat;
  color:#473E36;
  font-family: 'HK Grotesk';
  src: url('HKGrotesk-Regular.woff2') format('woff2'),
    url('HKGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size:18px;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  font-weight:400;
  line-height:1.55em;
  margin:0;
  text-rendering:optimizelegibility;
}

main {
  margin:0 auto;
  width:100%;
}

.green {color:#4e5b31;}
.gold {color:#DC6B2F;}

figure,
figure img {
  max-width:100%;
}

/* Theme Header */

main header.theme-header {
  margin:0;
  width:100%;
}

header.theme-header .logo-container {
  margin:0 auto;
  padding: 0 20px;
  width:100%;
}

figure.branding {
  align-items:flex-start;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:flex-start;
  line-height:0;
  margin:0;
  width:100%;
}

figure.branding a {
  display: block;
  margin: 0 auto;
  padding:30px;
}

figure.branding img {
  height:67px;
  width:200px;
}

figure.branding figcaption {
  color:#002868;
  font-size:1.375em;
  line-height: 1.15em;
  padding:0 0 20px;
  text-align: center;
}


section.header-image figure.main-image {
background-size: cover;
background-position: 50% 33%;
margin: 0;
height: 250px;
width: 100%;
}

main article section.article-content {
  background:#fff;
  /* ask */
  padding: 0 0 5px 30px;
  padding: 10px 0 5px 0;
  width:100%;
}
.at.ngp-form figure.main-image,
.at.ngp-form header.at-title,
.at.ngp-form header.at-markup,
.at.ngp-form header.MeterHtml,
.at.ngp-form header.HeaderHtml {
	padding:0 20px;
}
/* FastAction */

article .at.ngp-form .FastAction {
  margin:0;
  padding: 0 20px 0;
}

article .at.ngp-form .FastAction .fastAction {
  background:#f6f6f6;
  padding:20px;
}

article .at.ngp-form .FastAction p a {
  color:#DC6B2F;
  font-weight:700;
  text-decoration:none;
}

article .at.ngp-form .FastAction p {font-size:13px;}
article .at.ngp-form .FastAction .profile-link {background:#fff;}

article .at.ngp-form .FastAction .fa-cta span a {
  color:#fff;
  text-decoration:none;
}


/* Form */

article .at.ngp-form {
  max-width:unset;
  width:100%;
}

article .at.ngp-form.multistep-layout {min-width:unset;}

main section.at-inner {background:none;}
article .at.ngp-form .at-form * {color:#473E36;}
article .at.ngp-form header.at-title {margin-bottom: 10px;text-align: left;}

article .at.ngp-form figure.main-image {display: none;margin:0;}

article .at.ngp-form header.HeaderHtml h1,
article .at.ngp-form .content.thankYou h1 {
  color:#DC6B2F;
  font-size:1.5625em;
  line-height:1.28em;
  margin:0 0 10px;
  padding:0;
  text-align:left;
}

article .at.ngp-form header.HeaderHtml h1.alt {color:#4e5b31;}

article .at.ngp-form header.HeaderHtml .image-and-text-container {
  align-items:flex-start;
  display:flex;
  flex-wrap:wrap;
  margin:0 0 10px;
}

article .at.ngp-form header.HeaderHtml .image-and-text-container.image-right {flex-wrap:nowrap;}
article .at.ngp-form header.HeaderHtml .image-and-text-container.image-right h1 {margin:0;}

article .at.ngp-form header.HeaderHtml .image-and-text-container.image-right img {
  margin-left:20px;
  max-width:50%;
}

article .at.ngp-form header.HeaderHtml .image-and-text-container.image-right.two-images img {
  margin-left:20px;
  max-width:20%;
}

article .at.ngp-form header.HeaderHtml {
  margin:0;
  width: 100%;
}

article .at.ngp-form header.HeaderHtml h2 {
  font-size:18px;
  font-weight:700;
  margin:0 0 15px;
}

article .at.ngp-form header.HeaderHtml p {
  color:#3c3c3c;
  line-height:1.5em;
  margin:0 0 15px;
  padding:0;
}

article .at.ngp-form header.HeaderHtml .gold {color:#DC6B2F;}
article .at.ngp-form header.HeaderHtml p:last-child {margin:0;}


article .at.ngp-form form {
  width:100%;
}

article .at.ngp-form .content.thankYou {
  margin:0 auto;
  padding:20px;
  width:100%;
}

article .at.ngp-form .content.thankYou h2 {
  font-size:24px;
  font-weight:700;
  margin:0 0 20px;
}

article .at.ngp-form .content.thankYou p {
  line-height:24px;
  margin:0 0 15px;
}

article .at.ngp-form header.HeaderHtml a,
article .at.ngp-form .content.thankYou a {
  color:#DC6B2F;
  font-weight:700;
}

article .at.ngp-form header.HeaderHtml a:hover,
article .at.ngp-form .content.thankYou a:hover {text-decoration:underline;}

article .at.ngp-form .content.thankYou button.btn-social {
  color:#fff;
  font-weight:500;
  margin:0 15px 0 0;
}


/* Progress Meter Stuff */
article .at.ngp-form header.MeterHtml {
  margin:0;
  width:100%;
}

article .at.ngp-form header.MeterHtml iframe {display:none;}

article .at.ngp-form figure.progress-meter {
  margin:0;
  padding:0;
}

article .at.ngp-form figure.progress-meter + figure.progress-meter {display:none;} /* Advocacy Override */

article .at.ngp-form figure.progress-meter progress {
  appearance:none;
  background:#fff;
  border:1px solid #A9A9A9;
  border-radius:5px;
  display:block;
  height:30px;
  margin:0 0 10px;
  padding:0;
  position:relative;
  -webkit-appearance:none;
  width:100%;
  box-shadow:unset;
  z-index:3;
}

article .at.ngp-form figure.progress-meter progress::-webkit-progress-bar {
  background:#aaa;
  border:0;
}
  
article .at.ngp-form figure.progress-meter progress::-moz-progress-bar {background-color:#A9A9A9;}
article .at.ngp-form figure.progress-meter progress::-webkit-progress-value {background-color:#A9A9A9;}

article .at.ngp-form figure.progress-meter p.progress-meter-details {
  display:flex;
  font-size:18px;
  font-weight:400;
  justify-content:space-between;
  line-height:24px;
  margin:0 0 15px;
}
article .at.ngp-form figure.progress-meter p.progress-meter-details span strong {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
}
article .at.ngp-form figure.progress-meter p.progress-meter-details span.progress-meter-goal {
 font-size: 15px;
 font-weight: 600;
 padding-left:10px;
 text-align: center;
}


/* Form Steps */

article .at.ngp-form ol.at-steps {
  background:#f8f8f8;
  border-radius:0;
  display:flex;
  margin:20px 0 0;
  padding:0;
}

article .at.ngp-form ol.at-steps li.at-step {
  margin:unset;
  padding:0;
}

article .at.ngp-form ol.at-steps li.at-step.active {border-bottom:2px solid #DC6B2F;}

article .at.ngp-form ol.at-steps li.at-step a,
article .at.ngp-form ol.at-steps li.at-step b {
  align-items:center;
  display:flex;
  flex-direction:column;
  font-size:.9375em;
  font-weight:400;
  letter-spacing:0;
  line-height:20px;
  justify-content: center;
  padding:15px 10px;
}

article .at.ngp-form ol.at-steps li.at-step a:before,
article .at.ngp-form ol.at-steps li.at-step b:before {
  background:#a9a9a9;
  border:0;
  display:flex;
  font-size:16px;
  font-weight:700;
  height:24px;
  justify-content:center;
  left:unset;
  line-height:24px;
  margin:0 0 5px;
  position:relative;
  right:unset;
  top:0;
  transform:none;
  width:24px;
}

article .at.ngp-form ol.at-steps li.at-step a span.step-title {display:block;}


/* Form Elements */

article .at.ngp-form fieldset.at-fieldset {
   padding:0 10px;
   min-width:unset;
}

article .at.ngp-form fieldset.AdditionalInformation.hide-additional-information legend {display:none;}
article .at.ngp-form fieldset.ContributionInformation {padding-top:10px !important;}
article .at.ngp-form fieldset.ContributionInformation + fieldset.ContactInformation,
article .at.ngp-form fieldset.RecipientInformation + fieldset.ContactInformation,
article .at.ngp-form fieldset.ContactInformation + fieldset.PaymentInformation,
article .at.ngp-form fieldset.PaymentInformation + fieldset.AdditionalInformation:not(.hide-additional-information) {margin-top:25px;}

article .at.ngp-form legend.at-legend {
  border-top:0;
  font-size:24px;
  font-weight:400;
  line-height:24px;
  margin:0 10px;
  padding:20px 0 10px;
  width:calc(100% - 20px);
}

article .at.ngp-form fieldset.AdditionalInformation > legend {display:none;}

article .at.ngp-form fieldset.ContributionInformation legend.at-legend {padding-bottom:0;}

article .at.ngp-form .at-row label,
article .at.ngp-form fieldset.TicketInformation label {
  font-size:18px;
  font-weight:400;
  line-height:20px;
  margin:0 10px;
}

article .at.ngp-form .AdditionalInformation .at-row label {font-weight:500;}

article .at.ngp-form fieldset.TicketInformation label {margin:0;}

article .at.ngp-form .at-row label input,
article .at.ngp-form .at-row label select,
article .at.ngp-form .at-row label .select2-selection,
article .at.ngp-form .at-row label textarea,
article .at.ngp-form .at-row label .vgs-input-container iframe {
  border:1px solid #ccc;
  border-radius:0;
  font-weight:500;
  font-size:16px;
  height:40px;
  line-height:40px;
  margin:5px 0 15px;
  padding:7px 10px;
}

article .at.ngp-form .at-row label .intl-tel-input {margin:5px 0 15px;}
article .at.ngp-form .at-row label .intl-tel-input input {padding-left:46px;}

article .at.ngp-form .at-row label select {padding:0 10px;}

article .at.ngp-form .at-recurring label select {
  border-width:2px;
  height:36px;
  margin:0 5px 0 0;
  padding:0 20px 0 5px;
}

article .at.ngp-form .at-row label .select2-selection {
  color:#000;
  font-weight:500;
  padding-top:10px;
  text-transform:none;
}

article .at.ngp-form .at-row label .select2-selection__rendered {color:#000;}

article .at.ngp-form .at-row label textarea {
  height:auto;
  line-height:1.5em;
  min-height:100px;
}

article .at.ngp-form .at-row label small,
article .at.ngp-form .at-row label a.at-whatsthis {
  font-size:12px;
  font-weight:400;
  line-height:1em;
}

article .at.ngp-form .at-row.PostalCode.City.StateProvince label,
article .at.ngp-form .at-row.EmailAddress.HomePhone.MobilePhone label {
  flex:1 120px;
  min-width:120px;
}

article .at.ngp-form .at-row.FirstName.LastName label,
article .at.ngp-form .at-row.Country.PostalCode.City.StateProvince label,
article .at.ngp-form .at-row.EmailAddress.HomePhone label,
article .at.ngp-form .at-row.EmailAddress.MobilePhone label {
  flex:1 150px;
  min-width:150px;
}

article .at.ngp-form .at-row.Prefix.FirstName.LastName label.Prefix {
  flex:1 110px;
  min-width:110px;
}

article .at.ngp-form input::placeholder {opacity:.5;}

body.contribution-theme .at-row.YesSignMeUpForUpdatesForBinder:after {
  content:"You'll receive email updates from ABC Birds. You can unsubscribe at any time.";
  font-size:12px;
  line-height:16px;
  padding:0 10px 5px;
}


/* Toggle */

article .at.ngp-form .form-item-selectedfrequency .radios {
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  margin:0 10px; 10px;
}

article .at.ngp-form .form-item-selectedfrequency .radios label {
  align-items:center;
  border:0;
  border-radius:0;
  display:flex;
  font-size:.875em;
  font-weight:400;
  line-height:1.5em;
  height:44px;
  margin:0 0 10px;
  padding: 0 0 0 35px;
  position:relative;
  text-decoration:none;
  /***width:100%;***/
}

article .at.ngp-form .form-item-selectedfrequency .radios label.selected {
  background:#fff;
  border:2px solid #DC6B2F;
  color:#DC6B2F;
  font-weight:700;
}
/***
article .at.ngp-form .form-item-selectedfrequency .radios label input[type="radio"] {
  display:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
***/
article .at.ngp-form .form-item-selectedfrequency .radio-description {
  background-repeat: no-repeat;
  background-position: -8px 2px;
  background-size: 44px 30px;
  color: #0000EE;
  display: block;
  font-family: Kalam, script;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 20px 0 10px 35px;
  width: 100%;
}
article .at.ngp-form .form-item-selectedfrequency .radio-description-value-0 {
  background-image:url(https://raw.githubusercontent.com/ravenite/sandboxtheme/01f71c03db45636d285c051b63f8c08610383a38/curved-up-arrow.svg);
}


/* Checkboxes */

article .at.ngp-form label.at-check {margin:5px 10px;}
article .at.ngp-form .at-recipient-msg label.at-check.NotificationSendCopy {margin:5px 0 10px;}

article .at.ngp-form .at-check.YesSignMeUpForUpdatesForBinder {position:relative;}
article .at.ngp-form .at-row.UpdateMyProfile {margin:5px 0;}
article .at.ngp-form .updateMyProfileSection > label {margin:0;}

article .at.ngp-form label.at-check .at-checkbox-title-container:before,
article .at.ngp-form label.at-check .at-checkbox-title-container:after,
article .at.ngp-form .UpdateMyProfile label > span:before,
article .at.ngp-form .UpdateMyProfile label > span:after,
article .at.ngp-form label.at-check.authorize-payment-label > span:before,
article .at.ngp-form label.at-check.authorize-payment-label > span:after {
  border:1px solid #aaa;
  border-radius:5px;
  height:20px;
  left:0;
  top:0;
  width:20px;
}

article .at.ngp-form label.at-check .at-checkbox-title-container:before,
article .at.ngp-form .UpdateMyProfile label > span:before,
article .at.ngp-form label.at-check.authorize-payment-label > span:before {background:none;}

article .at.ngp-form label.at-check .at-checkbox-title-container:after,
article .at.ngp-form .UpdateMyProfile label > span:after,
article .at.ngp-form label.at-check.authorize-payment-label > span:after {
  background-color:#fff;
  background-image:url(https://raw.githubusercontent.com/ravenite/sandboxtheme/feb2bedb5361bcb43779e247e8684e7444c3c456/check-mark.svg);
  background-position:center;
  background-repeat:no-repeat;
  background-size:12px 12px;
  border:2px solid #DC6B2F;
  content:"";
  font-size:12px;
  line-height:12px;
  text-align:center;
}

article .at.ngp-form label.at-check .at-checkbox-title-container,
article .at.ngp-form .UpdateMyProfile label > span,
article .at.ngp-form fieldset.ContributionInformation label.at-select.SelectedFrequency span.at-select,
article .at.ngp-form label.at-check.authorize-payment-label > span {
  display:block;
  font-size:14px;
  line-height:20px;
  margin:0;
  padding-left:28px;
  text-transform:none;
}

article .at.ngp-form fieldset.ContributionInformation label.at-select.SelectedFrequency span.at-select {padding-left:0;}

article .at.ngp-form label.at-check .at-checkbox-title,
article .at.ngp-form label.at-check .at-cover-costs-info,
article .at.ngp-form label.at-select .select-collapse,
article .at.ngp-form .UpdateMyProfile label > span {
  font-weight:400;
  line-height:20px;
}

article .at.ngp-form .at-row label.multi-select .select2-selection {
  height:auto;
  line-height:30px;
  min-height:40px;
  padding:0;
}

article .at.ngp-form .at-row label.multi-select .select2-container--default .select2-selection--multiple {margin:0;}

article .at.ngp-form .select2-container--default .select2-selection--multiple .select2-selection__choice {
  line-height:30px;
  white-space:normal;
}

article .at.ngp-form .at-row label.multi-select .select2-container--default li.select2-search--inline input {
  border:0;
  height:30px;
  margin:0;
  padding:0;
}

article .at.ngp-form fieldset.ContributionInformation label.at-select.SelectedFrequency,
article .at.ngp-form fieldset.ContributionInformation label.at-select.SelectedDuration {margin:0 0 0 4px;}
article .at.ngp-form fieldset.ContributionInformation label.at-select.SelectedFrequency.select-collapse {margin:5px;}


article .at.ngp-form fieldset.ContributionInformation .at-recurring {
  display:flex;
  flex-wrap:wrap;
  font-size:16px;
  line-height:20px;
  margin:0 0 10px;
  padding:0 10px;
}

article .at.ngp-form fieldset.ContributionInformation.forced-recurring .at-recurring {display:none;}

article .at.ngp-form .at-recurring label {
  font-size:14px;
  line-height:20px;
}

article .at.ngp-form .at-recurring label.IsRecurring {
  display:flex;
  margin:5px 0;
}

article .at.ngp-form .at-recurring label.IsRecurring span {
  display:block;
  font-size:14px;
  line-height:20px;
}

article .at.ngp-form .at-recurring label select,
article .at.ngp-form .at-recurring label input {
  border:1px solid #999;
  border-radius:0;
  height:34px;
  line-height:22px;
  margin:0 5px 0 0;
  padding:0 20px 0 5px;
}
/***
article .at.ngp-form .at-recurring label select,
article .at.ngp-form .at-recurring label input {
  color:#181b18;
  font-size:16px;
  font-weight:600;
}
***/
article .at.ngp-form fieldset.ContributionInformation .at-recurring .at-check {
   display:block;
   margin-right:0;
}

article .at.ngp-form fieldset.AdditionalInformation .other-option > label.at-text {
  margin:-1px 10px 0 0;
  flex-grow:1;
  flex-basis:unset;
}

article .at.ngp-form fieldset.AdditionalInformation .other-option label.at-text input {
  height:34px;
  line-height:34px;
  margin:0;
}


/* Radio Buttons */

article .at.ngp-form .radios label input[type="radio"] {
  -moz-appearance:none;
  -webkit-appearance:none;
  border:1px solid #aaa;
  border-radius:50%;
  content:"";
  display:block;
  height:20px;
  left:0;
  margin:0;
  padding:0;
  outline:none;
  position:absolute;
  width:20px;
}

article .at.ngp-form .radios label input[type="radio"]:checked {
  background-color:#DC6B2F;
  border:1px solid #DC6B2F;
}


/* Form Control Buttons */

article .at.ngp-form .at-form-submit {
  display:flex;
  justify-content:center;
  margin:20px 10px 0;
  padding:0;
}

article .at.ngp-form.multistep-layout .at-form-submit {
  flex-wrap:wrap;
  margin:20px 0 0;
  padding:0 10px;
}

article .at.ngp-form .at-form-submit .step-prevNext {
  display:flex;
  justify-content:space-between;
  padding:10px 0 0;
  width:100%;
}

article .at.ngp-form .at-form-submit .step-prevNext .prevNext {
  padding:0 10px;
}

article .at.ngp-form .at-form-submit .step-prevNext:before,
article .at.ngp-form .at-form-submit .step-prevNext:after {display:none;}
article .at.ngp-form .at-form-submit .step-prevNext .next {order:2;}
article .at.ngp-form .at-form-submit .step-prevNext .prev {order:1;}

article .at.ngp-form .at-form-submit .at-submit,
article .at.ngp-form .at-form-submit .step-prevNext .btn-at,
article .at.ngp-form legend.at-legend-with-submit input,
.lightbox-modal.at-modal button.lightbox-accept-button {
  align-items:center;
  background-color:#DC6B2F;
  border:0;
  border-radius:0;
  color:#fff;
  display:flex;
  float:none;
  font-size:22px;
  font-weight:700;
  justify-content:center;
  line-height:24px;
  margin:0 10px;
  min-height:50px;
  order:2;
  padding:6px 30px;
  text-align:center;
  white-space:normal;
}

article .at.ngp-form .at-form-submit .step-prevNext .btn-at {
  align-items:center;
  display:flex;
  justify-content:center;
  margin:0;
  padding:6px 20px;
}

article .at.ngp-form .at-form-submit .step-prevNext .prev .btn-at {background:#999;line-height: 50px;}

article .at.ngp-form .at-form-submit .back-link.at-submit {
  background-color:#ccc;
  order:1;
}


/* Contribution Buttons */

article .at.ngp-form fieldset.ContributionInformation .at-radio {margin:0;}

article .at.ngp-form fieldset.ContributionInformation .at-radios {
  display:flex;
  flex-wrap:wrap;
  margin:0 5px 5px;
}

article .at.ngp-form fieldset.ContributionInformation label.label-amount {
  border-radius:0;
  color: white;
  float:none;
  font-size: 1.22em;
  font-weight: 600;
  height: 50px;
  letter-spacing: unset;
  line-height: 1.35em;
  margin:9px;
  padding:10px 20px;
  text-shadow:unset;
  width:calc(50% - 18px) !important;
}

article .at.ngp-form fieldset.ContributionInformation.forced-recurring label.label-amount:not(.label-otheramount):after {
  content:"/mo";
  margin-left:-5px;
}

article .at.ngp-form fieldset.ContributionInformation label.label-amount input[name="SelectAmount"] {
  height:0 !important;
  left:0;
  position:absolute;
  top:0;
  width:1px !important;
}

article .at.ngp-form fieldset.ContributionInformation label.label-amount a,
article .at.ngp-form fieldset.ContributionInformation label.label-amount a:hover,
article .at.ngp-form fieldset.ContributionInformation label.label-amount:hover a {
  background:#a9a9a9;
  border:0;
  border-radius:0;
  height:50px;
}

article .at.ngp-form fieldset.ContributionInformation label.label-amount input:checked + a {
    background: #DC6B2F;
    border: 2px solid #DC6B2F;
    color: white;
}

article .at.ngp-form fieldset.ContributionInformation label.label-otheramount:before {
  content:"Enter Your Own Amount ";
  color:#3c3c3c;
  display:block;
  font-size:14px;
  left:0;
  line-height:18px;
  height:50px;
  justify-content:flex-end;
  margin:unset;
  padding:4px 5px 4px 0;
  position:relative;
  top:0;
  width:125px;
  text-align:right;
  white-space:pre-wrap;
}

article .at.ngp-form fieldset.ContributionInformation label.label-amount.label-otheramount {
  background:transparent;
  display:flex;
  flex-wrap:wrap;
  float:unset;
  font-size:0;
  height:auto;
  line-height:44px;
  margin-bottom:10px;
  padding:0;
  position:relative;
  width:100% !important;
}

article .at.ngp-form fieldset.ContributionInformation input.edit-otheramount,
article .at.ngp-form fieldset.ContributionInformation input.edit-otheramount:required::selection {
  background:none;
  border:1px solid #ccc;
  border-radius:5px;
  color:#666;
  height:44px;
  letter-spacing:unset;
  line-height:44px;
  margin:0;
  padding:0 20px 0 20px;
  position:relative;
  top:0;
  transition:background-color .25s ease-in-out, border-color .25s ease-in-out;
  width:calc(100% - 125px) !important;
}

article .at.ngp-form fieldset.ContributionInformation input.edit-otheramount::placeholder {
  color:#3c3c3c;
  font-weight:400;
  opacity:1;
}

article .at.ngp-form fieldset.ContributionInformation input:checked + input.edit-otheramount {
  background:#fff;
  border:2px solid #DC6B2F;
  color:#3c3c3c;
  font-weight:400;
  padding:0 20px 0 20px;
}

article .at.ngp-form fieldset.ContributionInformation input:checked + input.edit-otheramount::placeholder {color:#fff;}

article .at.ngp-form fieldset.ContributionInformation label.label-otheramount span,
article .at.ngp-form fieldset.ContributionInformation input.edit-otheramount:required + span {
  border:0;
  color:#3c3c3c;
  display:block;
  font-size:16px;
  height:44px;
  left:125px;
  line-height:44px;
  padding:0 0 0 10px;
}

article .at.ngp-form fieldset.ContributionInformation label.label-otheramount .error {
  display:block;
  font-size:14px;
  line-height:18px;
  margin:0;
  padding:5px 0 0;
  width:100%;
}


/* In Honor / Memory of */

article .at.ngp-form fieldset.at-fieldset.TributeGift {padding:0 20px !important;}
article .at.ngp-form fieldset.TributeGift label.EnableTributeGift {margin:5px 0;}

article .at.ngp-form .at-tribute-gift,
article .at.ngp-form .at-tribute-gift label {
  line-height:20px;
  margin:0;
}

article .at.ngp-form .at-tribute-gift label.HonoreeName {font-weight:400;}
article .at.ngp-form .at-check.IncludeRecipient {margin:5px 10px;}
article .at.ngp-form fieldset.RecipientInformation {padding:0 10px !important;}
article .at.ngp-form .form-item-inhonororinmemoryof {margin:5px 0;}

article .at.ngp-form .form-item-inhonororinmemoryof > label {
  font-weight:700;
  margin:10px 0;
  width:100%;
}


.at-preview-ecard.btn-at.btn-at-link {
    background: #DC6B2F;
    border: 2px solid #DC6B2F;
    border-radius: 0;
  color: white !important;
    font-size: 1.22em;
    font-weight: 600;
    height: 50px;
    line-height: 1.35em;
    text-shadow: unset;
    padding: 10px 20px;
}

article .at.ngp-form fieldset .radios {
  display:flex;
  flex-wrap:wrap;
  margin:0;
}

article .at.ngp-form fieldset.ContactInformation .radios,
article .at.ngp-form fieldset.AdditionalInformation .radios {padding:10px;}
article .at.ngp-form fieldset.AdditionalInformation .radios {flex-direction:column;}

article .at.ngp-form .radios label {
  display:block;
  flex-wrap:wrap;
  font-weight:400;
  line-height:20px;
  margin:5px 10px 5px 0;
  padding-left:28px;
  padding-right:10px;
}


article .at.ngp-form .form-item-inhonororinmemoryof .radios label label,
article .at.ngp-form fieldset.ContactInformation .radios label,
article .at.ngp-form fieldset.AdditionalInformation .radios label {
  flex:unset;
  min-width:50px;
  padding-right:0;
}

article .at.ngp-form.form-item-inhonororinmemoryof .radios label label input {
  flex:unset;
  margin:0;
  min-width:30px;
}

article .at.ngp-form fieldset.RecipientInformation .at-recipient-info .at-title {
  font-size:.875em;
  font-weight:700;
  margin:10px 10px 0;
}

article .at.ngp-form fieldset.RecipientInformation .at-markup.RecipientInfoHeaderHtml {
  font-size:.875em;
  margin:10px;
}

article .at.ngp-form fieldset.RecipientInformation label.notificationsenddate,
article .at.ngp-form fieldset.RecipientInformation label.NotificationMessage {margin:0;}


/* Additional Information / Custom Stuff */

article .at.ngp-form fieldset.AdditionalInformation .at-row-full > label.at-text,
article .at.ngp-form fieldset.AdditionalInformation .at-row-full > label.at-check,
article .at.ngp-form fieldset.AdditionalInformation .at-row-full > div > label.checkbox-list-label,
article .at.ngp-form fieldset.AdditionalInformation .at-row-full > .form-unit-radio {
  font-weight:700;
  margin-top:10px;
}

article .at.ngp-form fieldset.AdditionalInformation .radios label {margin:5px 15px 5px 0;}

article .at.ngp-form fieldset.AdditionalInformation .radios label[title="Other"],
article .at.ngp-form fieldset.AdditionalInformation .other-option label.at-check {
  display:flex;
  margin-right:0;
}

article .at.ngp-form fieldset.AdditionalInformation .radios label[title="Other"] label.at-text,
article .at.ngp-form fieldset.AdditionalInformation div.other-option label.at-text {
  margin-top:0;
  padding-left:10px;
  flex-grow:1;
}

article .at.ngp-form fieldset.AdditionalInformation .radios label[title="Other"] label.at-text {margin:-5px 0;}

article .at.ngp-form fieldset.AdditionalInformation .radios label[title="Other"] label.at-text input,
article .at.ngp-form fieldset.AdditionalInformation div.other-option label.at-text input {
  height:34px;
  line-height:34px;
  margin:0;
}

article .at.ngp-form .at-fields.interests-fields {margin:0;}

article .at.ngp-form footer.FooterHtml {padding:10px 20px 0;}
article .at.ngp-form.multistep-layout .at-form-submit footer.FooterHtml {padding:10px;}

article .at.ngp-form footer.FooterHtml p {
  font-size: 1.3em;
  line-height:20px;
  margin:0 0 15px;
}

article .at.ngp-form footer.FooterHtml p:last-child {margin:0;}

article section.article-content > .validation-logos {display:none;}

body.contribution-theme footer.FooterHtml {
  display: block !important;
}
.validation-logos {
  display:flex;
  justify-content:center;
}

article .validation-logos {margin: 20px 0 30px;}
.validation-logos figure.validation-logo {line-height: 0;margin:unset;padding: 0 15px;}

.validation-logos figure.validation-logo a {
  display:block;
  line-height:0;
  padding:10px;
}

.validation-logos figure.validation-logo img {height:79px;}

article .at.ngp-form #calc-explainer {
  color:#DC6B2F;
  font-weight:700;
  margin:0 0 15px;
  padding:0 10px;
}

article.calculation-none .at.ngp-form #calc-explainer {display:none;}
article .at.ngp-form .at-row.on-behalf-of-textfield {padding-top:5px;}
article .at.ngp-form .at-row.on-behalf-of-textfield small {display:none;}
article .at.ngp-form .at-row.on-behalf-of-textfield input {margin-bottom:5px;}

article .at.ngp-form section.premium-content-container figure.premium-image {
  margin:0 0 20px;
  width:100%;
}

article .at.ngp-form .ContributionInformation section.premium-content-container {padding:0 10px;}
article .at.ngp-form section.premium-content-container p {margin:0 0 15px;}

article .at.ngp-form .designation-local-or-national {padding:5px 0 0;}

article .at.ngp-form .designation-local-or-national .radios {
  flex-direction:column;
  padding:5px 10px 0;
}


/* ECard Pieces */

article.has-ecard .at.ngp-form fieldset.TributeGift {padding-top:0;}

article.has-ecard fieldset.TributeGift .at-fields {
  border-top:1px solid #d9d9d9;
  margin:0;
  padding:20px 0 0;
}

article.has-ecard p.ecard-image-heading {
  font-weight:700;
  margin:0 0 10px;
}

article.has-ecard figure.ecard-image-container {
  line-height:0;
  margin:0;
  width:100%;
}

article.has-ecard figure.ecard-image-container img {
  height:auto;
  width:100%;
}

article.has-ecard .ecards-container:first-of-type {border:0;}

article.has-ecard .ecards-container {
  border-bottom:1px solid #d9d9d9;
  margin:0 0 5px;
  padding:0 0 15px;
}

article.has-ecard .ecards-container .at-title {
  margin:0 0 5px;
}

article.has-ecard .ecards-container .at-ecards {
  display:flex;
  flex-wrap:wrap;
  margin:0 -10px;
  width:auto;
}

article.has-ecard .at.ngp-form .ecards-container .at-ecard {
  border:5px solid #fff;
  border-radius:0;
  display:block;
  height:unset;
  margin:5px;
  width:calc((100%/3) - 10px) !important;
}

.at-ecards.clearfix {
  display:block;
}
article.has-ecard .at.ngp-form .ecards-container .at-ecard.selected {
  border:5px solid #DC6B2F;
  border-radius:5px;
}

article.has-ecard .ecards-container .at-ecard-img {height:unset;}

article.has-ecard .ecards-container .at-ecard-img img {
  height:auto;
  left:unset;
  position:relative;
  top:unset;
  transform:none;
  width:100%;
}

article.has-ecard .at.ngp-form .ecards-container .at-ecard input {
  -moz-appearance:none;
  -webkit-appearance:none;
  display:none;
}

article.has-ecard .at.ngp-form .ecards-container .at-ecards button.at-preview-ecard {
  background:#DC6B2F;
  color:#fff;
  font-weight:700;
  height:50px;
  margin:10px;
}

article.has-ecard .at.ngp-form fieldset.RecipientInformation .at-recipient-info .at-title {margin-top:0;}

article.has-ecard .at.ngp-form .at-recipient-msg {
  display:flex;
  flex-direction:column;
  margin-bottom:25px;
}

article.has-ecard .at.ngp-form .at-recipient-msg label.at-area {order:1;}
article.has-ecard .at.ngp-form .at-recipient-msg label.at-date {order:2;}
article.has-ecard .at.ngp-form .at-recipient-msg label.fa-calendar-alt {position:relative;}

article.has-ecard .at.ngp-form .at-recipient-msg label.fa-calendar-alt:before {
  bottom:10px;
  font-family:"Font Awesome 5 Free";
  font-size:20px;
  position:absolute;
  right:10px;
}



article.has-ecard .at.ngp-form .at-recipient-msg label.at-date input {margin-bottom:0;}


#preview-modal .at-preview-wrapper img {width:100%;}
#preview-modal .at-preview-markup {padding:10px 0;}



/* EFT Section */

article .at.ngp-form fieldset.PaymentInformation .at-eft-accepted-here {
  display:flex;
  flex-wrap:wrap;
  margin:0;
}

article .at.ngp-form fieldset.PaymentInformation .at-eft-accepted-here > label,
article .at.ngp-form fieldset.PaymentInformation .at-eft-accepted-here > label.authorize-payment-label {width:100%;}

article .at.ngp-form fieldset.PaymentInformation .at-eft-accepted-here select.eft-input {width:100% !important;}
article .at.ngp-form .at-row label a.at-whatsthis {line-height:20px;}


/* Error States */

article .at.ngp-form label small.error {
  font-size:14px;
  font-weight:500;
  line-height:20px;
  margin-bottom:10px;
  padding:0;
}


/* Lightbox */

.lightbox-modal.at-modal .at-modal-inner {
  border-radius:25px;
  max-width:520px;
}

.lightbox-modal.at-modal header a.lightbox-close {
  display:block;
  top:10px;
  right:15px;
}

.lightbox-modal.at-modal .at-modal-inner header > div {
  color:#DC6B2F;
  font-size:24px;
  font-weight:700;
  line-height:36px;
  max-width:100%;
  text-align:center;
}

.lightbox-modal.at-modal .at-lightbox-content-wrapper p {
  font-size:16px;
  line-height:24px;
  margin:0 auto 15px;
  max-width:400px;
  text-align:center;
}

.lightbox-modal.at-modal button.lightbox-accept-button {
  font-weight:700;
  line-height:26px;
  margin:0 auto;
  max-width:300px;
  padding:10px 20px;
  text-transform:none;
}

.lightbox-modal.at-modal footer a.lightbox-decline-button {
  color:#DC6B2F;
  font-weight:500;
}


/* CTA */
.cta-section.row {
  margin: 0 auto;
  padding:63px 0;
}
.cta-item {
  margin: 0 auto 25px auto;
  padding: 0 10px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}
.cta-item i[class*="fa"] {
  display: block;
  font-size: 60px;
  color: #002868;
  margin: 0 auto 35px auto;
  width: 60px;
}
.cta-item a {
  color: #DC6B2F;
  text-decoration:none;
}



/* Footer */

footer.theme-footer {
  background:#544C44;
  color:#fff;
  margin:0;
  padding:30px 0 0 0;
  width:100%;
}

footer.theme-footer .footer-container {
  margin:0 auto;
  max-width:940px;
  padding:0;
  width:100%;
}

footer.theme-footer .footer-container.upper {
  border-bottom: 1px solid #fff;
  padding:10px 0 20px;
}

footer.theme-footer .primary-content {}

footer.theme-footer p.share-icons {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  margin: 20px auto;
  max-width: 300px;
  width: 100%;
}

footer.theme-footer p.share-icons span {
  display:block;
}

footer.theme-footer p.share-icons span a,
footer.theme-footer p.share-icons span a::before {
  display:block;
  height:32px;
  width:32px;
}

footer.theme-footer p.share-icons span a {
  color:#fff;
  font-size:24px;
  line-height:32px;
  overflow:hidden;
  text-align:center;
}

footer.theme-footer p.share-icons span a::before {font-family:"Font Awesome 5 Brands";}

footer.theme-footer .validation-logos {}
footer.theme-footer .validation-logos figure.validation-logo img {}

footer.theme-footer p {
  font-size:.9em;
  line-height:1.5em;
  margin:0 auto 5px;
  text-align:center;
}

footer.theme-footer p a,
footer.theme-footer p strong {
  color:#fff;
  font-weight:700;
  text-decoration:none;
}

footer.theme-footer .secondary-content {
  margin: 0 auto;
  padding:50px 20px 0 0;
  width:calc(100% - 200px);
}

footer.theme-footer ul.footer-menu {
  list-style:none;
  margin:0;
  padding:0;
  width:100%;
}

footer.theme-footer ul.footer-menu a {
  color:#fff;
  text-decoration:none;
}

footer.theme-footer ul.footer-menu > li {
  margin-bottom:20px;
  text-align:right;
}

footer.theme-footer ul.footer-menu > li > a {
  display:block;
  font-size:.875em;
  font-weight:700;
  line-height:1.2857em;
  text-transform:uppercase
}

footer.theme-footer .footer-container.lower {
  flex-direction:column;
  margin:0 auto;
  max-width:900px;
  padding:20px;
  text-align:center;
}

footer.theme-footer ul.system-links {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  list-style:none;
  margin:0 0 20px;
  padding:10px 0 0;
}

footer.theme-footer ul.system-links li {margin:0 10px;}

footer.theme-footer ul.system-links li a,
footer.theme-footer ul.system-links li span {
  color:#fff;
  font-size:.875em;
  line-height:1em;
  text-decoration:none;
}



/* Fonts */

article .at.ngp-form .at-form *,
.lightbox-modal.at-modal * {
    font-family: 'HK Grotesk';
    src: url('HKGrotesk-Regular.woff2') format('woff2'),
        url('HKGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
footer.theme-footer p {
  font-family: 'HK Grotesk';
  font-weight: 600;
}



@media (min-width:400px) {

  /* header */
  body.has-main-image section.header-image figure.main-image {
    height: 300px;
  }
  /* Toggle */

  article .at.ngp-form .form-item-selectedfrequency .radios {
    flex-direction:row;
    /***justify-content:space-between;***/
  }

  article .at.ngp-form .form-item-selectedfrequency .radios label {min-width: 125px;max-width:calc(50% - 5px);}
  article .at.ngp-form .form-item-selectedfrequency .radio-description {background-position:-7px 2px;}

  
  /* Form Control Buttons */
  
  article .at.ngp-form .at-form-submit .at-submit,
  article .at.ngp-form .at-form-submit .step-prevNext .btn-at {padding:6px 30px;}

}


@media (min-width:500px) {
  /* header */
  body.has-main-image section.header-image figure.main-image {
    height: 350px;
  }
  /* Form */

  article .at.ngp-form header.at-title,
  article .at.ngp-form .content.thankYou h1 {
    font-size:1.2em;
    line-height: 1.23;
  }
  article .at.ngp-form .content.thankYou h1 {
    padding: 23px;
  }
  
  article .at.ngp-form ol.at-steps li.at-step a,
  article .at.ngp-form ol.at-steps li.at-step b {flex-direction:row;}
  article .at.ngp-form ol.at-steps li.at-step a:before,
  article .at.ngp-form ol.at-steps li.at-step b:before {margin:0 10px 0 0;}
  article .at.ngp-form .at-form-submit .step-prevNext .btn-at {padding:0 30px;}
  article .at.ngp-form fieldset.ContributionInformation label.label-amount {width:calc((100% / 3) - 18px) !important;}
  article .at.ngp-form fieldset.ContributionInformation label.label-otheramount {width:100% !important;}

  /* Custom Stuff */
  
  article .at.ngp-form section.premium-content-container {overflow:auto;}
  
  article .at.ngp-form section.premium-content-container figure.premium-image {
    float:left;
    margin:6px 10px 5px 0;
    width:200px;
  }
  
  /* EFT Section */

  article .at.ngp-form fieldset.PaymentInformation .at-eft-accepted-here > label {width:calc(50% - 20px);}
  
  
  /* Footer */
  
  footer.theme-footer figure.rcan-logo a img {
    height:39px;
    width:371px;
  }
  
}


@media (min-width:600px) {
  
  /* Theme Header */
  
  header.theme-header figure.branding {
    align-items:flex-end;
    flex-direction:row;
    justify-content:space-between;
  }
  
  header.theme-header figure.branding img {}

  figure.branding figcaption {
    font-size:1.75em;
  }
  
  article .at.ngp-form header.HeaderHtml h1.large,
  article .at.ngp-form .content.thankYou h1.large {
    font-size:2em;
    line-height:1.25em;
  }
  

}

@media (max-width:767px) {
  
  footer.theme-footer ul.footer-menu ul {display:none;}
  
}


@media (min-width:768px) {
  
  main {
    background-attachment:fixed;
    background-color:#d9d9d9;
    background-position:center top;
    background-repeat:no-repeat;
    background-size:cover;
  }
      
  header.theme-header section.logo-container {padding: 0;width:647px;}
 
 body.has-main-image section.header-image {
  display: none;
  }	
  figure.branding figcaption {
    font-size:1.9em;
    padding-bottom:16px;
  }
 
  main article {
    background:none;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    margin:0 auto;
    padding:40px 0;
    width:700px;
  }
  
  body.no-main-image main article {
    max-width:700px;
    width:100%;
  }

  main article section.article-content {
    background:#fff;
    box-shadow:0 2px 4px 0 rgba(0,0,0,.5);
  }
  main section.at-inner {padding: 10px;}
  article .at.ngp-form header.HeaderHtml {padding: 10px 20px;}

  body.no-main-image main article section.article-content {width:100%;}
  
  article .at.ngp-form ol.at-steps {margin:20px 20px 0;}
  article .at.ngp-form ol.at-steps li.at-step a,
  article .at.ngp-form ol.at-steps li.at-step b {flex-direction:column;}
  article .at.ngp-form ol.at-steps li.at-step a:before,
  article .at.ngp-form ol.at-steps li.at-step b:before {margin:0 0 5px;}

  /****
  article .at.ngp-form.multistep-layout header.HeaderHtml,
  article .at.ngp-form.multistep-layout form {
    float:none;
    width:unset;
  }
  ***/
  article .at.ngp-form fieldset.ContributionInformation label.label-amount {width:calc(50% - 18px) !important;}
  article .at.ngp-form .at-form-submit .step-prevNext {justify-content:space-between;}
  article .at.ngp-form .at-form-submit {justify-content:center;}

  /* two columns */ 
  body.columns-two .at.ngp-form section.at-inner {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 10px;
  }
  body.columns-two .at.ngp-form section.at-inner:before {
    display:none;
  }
  article .at.ngp-form header.at-title,
  article .at.ngp-form .content.thankYou h1 {
    font-size:1.9em;
    line-height: 1.23;
  }
  body.columns-two .at.ngp-form header.at-title {
    grid-row: 1 / 2;
  }
  body.has-main-image  article .at.ngp-form figure.main-image {
    display: block;
  }
  body.columns-two article .at.ngp-form figure.main-image {
    grid-row: 2 / 3;
    margin: 0 0 20px;
  }
  body.columns-two .at.ngp-form header.MeterHtml {
    grid-row: 3 / 4;
  }
  body.columns-two .at.ngp-form header.HeaderHtml {
    grid-row: 4 / 5;
  }
  body.columns-two .at.ngp-form form {
    grid-column: 2 / 3;
    grid-row: 1 / 7;
  }
  
  /* CTA */ 
  .cta-section.row {
    display: flex;
    flex-wrap:wrap;
    max-width: 750px;
  }
  .cta-item {
    flex-basis:50%;
  }
  
  /* Footer */
  
  footer.theme-footer ul.footer-menu {
    display:flex;
    justify-content:space-between;
    padding-left:20px;
  }

  footer.theme-footer ul.footer-menu > li {
    padding:0 20px 0 0;
    text-align:left;
  }
  
  footer.theme-footer ul.footer-menu > li:last-child {padding-right:0;}
  
  footer.theme-footer ul.footer-menu ul {
    list-style:none;
    margin:0;
    padding:10px 0 0;
  }
  
  footer.theme-footer ul.footer-menu ul li {margin:0 0 10px;}
  
  footer.theme-footer ul.footer-menu ul a {
    display:block;
    font-size:.75em;
    font-weight:500;
    line-height:1.25em;
  }

}


@media (min-width:960px) {

  header.theme-header section.logo-container {}
  header.theme-header figure.branding a {}
  
  header.theme-header figure.branding img {  }

  main article {width:760px;}
  body.no-main-image main article {}
  
  body.columns-two main article {
    width:900px;
  }
  body.no-main-image main article {}
    
  main article section.article-content {
    padding:25px 0 30px;
    /**width:500px;***/
  }
  article .at.ngp-form form {padding:0;}
  body.columns-two main article .at.ngp-form form {padding: 0;}
    
  article .at.ngp-form ol.at-steps li.at-step a,
  article .at.ngp-form ol.at-steps li.at-step b {flex-direction:row;}
  article .at.ngp-form ol.at-steps li.at-step a:before,
  article .at.ngp-form ol.at-steps li.at-step b:before {margin:0 10px 0 0;}
  
  article .at.ngp-form fieldset.ContributionInformation label.label-amount {width:calc((100% / 3) - 18px) !important;}
  article .at.ngp-form footer.FooterHtml {padding:20px 30px 0;}
  
  article .at.ngp-form .at-row.Country.PostalCode.City.StateProvince label {
    flex:1 175px;
    min-width:175px;
  }
  /* CTA */
  .cta-section.row {
    max-width: 960px;
  }
  .cta-item {
    flex-basis:25%;
  }
}

@media (min-width:1200px) {
  /* header */
  header.theme-header section.logo-container {}
  /* CTA */
  .cta-section.row {
    max-width: 1170px;
  }
  body.columns-two main article {
   width: 1080px;
  }
  body.columns-two .at.ngp-form section.at-inner {
    grid-template-columns: 500px 560px;
    padding-top: 20px;
  }
  body.columns-two .at.ngp-form figure.main-image,
  body.columns-two .at.ngp-form header.at-markup,
  body.columns-two .at.ngp-form header.MeterHtml,
  body.columns-two .at.ngp-form header.HeaderHtml {}
}
